[{{ item.domain }}]
listen = /server/httpd/run/fpm-{{ item.domain }}.sock
listen.owner = ggtool01
listen.group = ntool
listen.mode = 0666
pm = static
pm.start_servers = {{ start_servers }}
pm.min_spare_servers = {{ min_spare_servers }}
pm.max_children = {{ max_children }}
pm.max_spare_servers = {{ max_spare_servers }}
pm.max_requests = {{ max_requests}}
request_terminate_timeout = {{ request_terminate_timeout }}
php_admin_value[open_basedir] = /server/httpd/htdocs/{{ item.domain }}:/tmp
