
upstream dev-ada-lp {
    server 127.0.0.1:3001;
}

server {
  listen 80;
  server_name join-ada.com join-ada.de joinada.de www.join-ada.de www.join-ada.com www.joinada.de;
  root /opt/docker/lp-ada/;
  index index.html index.htm index.php index.pl;
  return 301 https://$host$request_uri;
  location ~ /googleef03e4e384535315.html {
    root /opt/docker/lp-ada/;
    try_files $uri $uri =200;
  }
  location ~ /.well-known/acme-challenge {
    allow all;
    root /opt/docker/letsencrypt/letsencrypt-site;
  }
  location ~ /usage {
    root /var/www;
  }
  location ~*  \.(jpg|jpeg|png|gif|ico|css|js)$ {
    expires 365d;
  }
  location / {
    proxy_pass http://dev-ada-lp;
    proxy_set_header Host            $host;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Real-IP $remote_addr;
{% if cache == "true" %}
    proxy_cache_key      $host$uri$is_args$args;
    # proxy_cache_valid    200 301 302 30m;
    proxy_cache cache;
    proxy_cache_valid any 1h;
    proxy_cache_min_uses 1;
    proxy_cache_methods GET HEAD;
    proxy_cache_lock on;
    proxy_cache_valid 200 1h;
    proxy_cache_use_stale updating;
{% endif %}
    # auth_basic              "Password protected";
    # auth_basic_user_file    /opt/docker/spectre/htpasswd;
  }

}

proxy_cache_path /tmp/cache keys_zone=cache:60m levels=1:2 inactive=600s max_size=100m loader_threshold=300 loader_files=200;

server {
  listen 443 ssl;
  server_name join-ada.com join-ada.de joinada.de www.join-ada.de www.join-ada.com www.joinada.de;
  index index.html index.htm index.php index.pl;

  set $my_var 0;
  if ($host = 'join-ada.de') {
    set $my_var 1;
  }
  if ($host = 'joinada.de') {
    set $my_var 1;
  }
  if ($host = 'www.join-ada.de') {
    set $my_var 1;
  }
  if ($host = 'www.join-ada.com') {
    set $my_var 1;
  }
  if ($my_var = 1) {
    rewrite ^/(.*)$ https://join-ada.com/$1 permanent;
  }

  ssl_certificate     /docker-volumes/etc/letsencrypt/live/join-ada.com/fullchain.pem;
  ssl_certificate_key /docker-volumes/etc/letsencrypt/live/join-ada.com/privkey.pem;
  ssl_trusted_certificate /etc/nginx/ssl/trusted.pem;
  ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 10m;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_dhparam /docker-volumes/etc/letsencrypt/live/join-ada.com/dhparam.pem;
  # resolver 85.214.198.115 134.0.29.161 valid=300s;
  resolver_timeout 10s;
  gzip on;

  location ~ /googleef03e4e384535315.html {
    root /opt/docker/lp-ada/;
    try_files $uri $uri =200;
  }
  location /usage/ {
    root /var/www;
    auth_basic              "Password protected";
    auth_basic_user_file    /opt/docker/spectre/htpasswd;
  }
  #location ~*  \.(jpg|jpeg|png|gif|ico|css|js)$ {
  #  expires 365d;
  #}
  location / {
    proxy_pass http://dev-ada-lp;
    proxy_set_header Host            $host;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Real-IP $remote_addr;
{% if cache == "true" %}
    proxy_cache_key      $host$uri$is_args$args;
    # proxy_cache_valid    200 301 302 30m;
    proxy_cache cache;
    proxy_cache_valid any 1h;
    proxy_cache_min_uses 1;
    proxy_cache_methods GET HEAD;
    proxy_cache_lock on;
    proxy_cache_valid 200 1h;
    proxy_cache_use_stale updating;
{% endif %}

    # auth_basic              "Password protected";
    # auth_basic_user_file    /opt/docker/spectre/htpasswd;
  }
  location ~ /.well-known/acme-challenge {
    allow all;
    root /opt/docker/letsencrypt/letsencrypt-site;
  }

}

